/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
}
/*utilities*/

/*nav*/
nav.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 42px;
}
nav.menu a{
    margin-right: 20px;
}
img.logo-border{
    height: 30px;
    margin-left:20px;
}
img.logo-complete{
    display:none;
}
a.link-login{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
}
a.link-search{
    display:none;
}
a.link-news{
    display:none;
}
a.link-subs{
    text-transform: uppercase;
    background-color: black;
    color:white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    padding:11px;
}
a.link-menu{
    display:none;
}
a.link-arrows{
    color:black;
}

/*header*/

/*main-news*/
.main-news{
    position:relative ;/*parent*/
}
.main-news img{
    
}
.main-news-text{
    position: absolute;/*child*/
    top:100px;
    left:30px;
}
.main-news-text h3{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}
.main-news-text p{
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.main-news-text a{
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
}
/*secondary-news*/
.secondary-news img{
    height: 350px;
    width: 100%;
}